.auth p {
    margin: 8px;
    padding: 0px;
}

.header {
    width: 100%;
}
.header td, .cart td {
    border: 1px solid darkgray;
}
.cart td:not(:first-child), .header td {
    padding: 4px 8px;
}
.cart form {
    display: inline-block;
    margin: 0px;
}
.cart tr:last-child td:first-child {
    border: none;
}
.thumbnail {
    display: inline-block;
    background-color: #d3d3d3;
    margin: 4px;
    padding: 5px;
}
.thumbnail p {
    margin: 0px;
}
figure.img img{
    max-width: 100%;
}

.feedback-form, .feedback-form div {
    display: inline-block;
}
.feedback-form input[type=text], .feedback-form textarea {
    width: 100%;
    box-sizing: border-box;
}
.feedback-form input[type=submit], .feedback a, .product span {
    float: right;
}

.feedback div {
    display: inline-block;
    background-color: lightgrey;
    border-radius: 5px;
    margin: 6px;
    padding: 5px;
}
.feedback span {
    font-weight: bold;
    margin-right: 8px;
    margin-left: 4px;
}
.feedback p {
    margin: 4px;
}

.product {
    background-color: lightgrey;
    margin: 5px;
    padding: 8px;
    display: inline-block;
}
.product .name {
    font-weight: bold;
    margin-left: 5px;
}